<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <header>
        <section id="nav_esquerda">
            <div id="imagem">
                <img src="../img/logo.png" alt="">
            </div>
        </section>
        <nav id="nav_direita">
                <ul id="nav_links">
                    <!--====HOME====-->
                    <li class="links_menu">
                        <div class="icon">
                            <img src="../img/home_icon.png" alt="" width="15px">
                        </div>
                        <a href="../index.html">Home</a>
                    </li>
                    <!--====SERVIÇOS====-->
                    <li class="links_menu">
                        <div class="icon">
                            <img src="../img/serviços_icon.jpg" alt="" width="15px">
                        </div>
                        <a href="../views/servicos.html">Serviços</a>
                    </li>
                    <!--====CONTATO====-->
                    <li class="links_menu">
                        <div class="icon">
                            <img src="../img/contato_icon.jpg" alt="" width="20px">
                        </div>
                        <a href="../views/contatos.html">Contato</a>
                    </li>
                    <!--====SOBRE====-->
                    <li class="links_menu">
                        <hr id="hr1">
                    </li>
                    <li class="links_menu">
                        <a href="../views/sobre.html">Sobre</a>
                    </li>
                </ul>
            </nav>
    </header>
    <div id="corpo">
        <h1>Serviços</h1>
        <p>O grupo da GeekGames reconhece o quanto o jogo está presente na vida das pessoas e com isso valoriza a transparência e a confiabilidade para com eles, 
           trazendo segurança e conforto ao realizar uma compra, para que tenham o máximo de diversão e entretenimento ao jogar o jogo adquirido. 
           Outros sites de venda de jogos não oferecem tal transparência para com seus clientes, pois na GeekGames terá um canal exclusivo e personalizado para que os 
           clientes tirem suas dúvidas imediatamente no ato da compra, assim facilitando a sua escolha.Esse canal contará com uma equipe de pessoas totalmente qualificadas para lidar com as dúvidas apontadas. 
           E temos diversos serviços como suporte técnico, consultoria, jogos online e games.</p>
    </div>
</body>
</html>
