<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre a empresa</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <header>
        <section id="nav_esquerda">
            <div id="imagem">
                <img src="../img/logo.png" alt="">
            </div>
        </section>
        <nav id="nav_direita">
                <ul id="nav_links">
                    <!--====HOME====-->
                    <li class="links_menu">
                        <div class="icon">
                            <img src="../img/home_icon.png" alt="" width="15px">
                        </div>
                        <a href="../index.html">Home</a>
                    </li>
                    <!--====SERVIÇOS====-->
                    <li class="links_menu">
                        <div class="icon">
                            <img src="../img/serviços_icon.jpg" alt="" width="15px">
                        </div>
                        <a href="../views/servicos.html">Serviços</a>
                    </li>
                    <!--====CONTATO====-->
                    <li class="links_menu">
                        <div class="icon">
                            <img src="../img/contato_icon.jpg" alt="" width="20px">
                        </div>
                        <a href="../views/contatos.html">Contato</a>
                    </li>
                    <!--====SOBRE====-->
                    <li class="links_menu">
                        <hr id="hr1">
                    </li>
                    <li class="links_menu">
                        <a href="../views/sobre.html">Sobre</a>
                    </li>
                </ul>
            </nav>
    </header>
    <div id="corpo">
        <h2>Sobre</h2>
        <p>GeekGames é um site de pequeno porte para venda de jogos de videogames situada na cidade de São Paulo, SP. O negócio está estruturado como uma sociedade unipessoal, operando sob a direção do empresário, Cauã Amaral. A GeekGames está localizada na capital de São Paulo e começará a operar em junho de 2022.</p>
    </div>
</body>
</html>